version: '3.3'
services:
  processfile:
      build: .
      networks:
        - project-network
      ports:
        - "5000:5000"
      restart: always
      environment:
        BUCKET_NAME: "covid19-analysis-test"
        DATABASE_NAME: "covid19-database"
        AWS_DEFAULT_REGION: "us-east-1"
networks:
  project-network:
    driver: bridge